@import "./global.css";
@import "./header.css";

/*utilidades*/
@import "./utilitários/utilidades.css";
@import "./utilitários/tipografia.css";
@import "./utilitários/cores.css";

/*home*/
@import "./main.css";
@import "./tecnologia.css";
@import "./parceiros.css";
@import "./depoimento.css";
@import "./seguros.css";
@import "./footer.css";

/*Bicicletas*/
@import "./bicicletas/bicicletaslista.css";
@import "./bicicletas/bicicletas.css";

/*termos*/
@import "./termos/termos.css";

/*seguros*/
@import "./seguros/seguros.css";
@import "/css/seguros/perguntas.css";
