@import "./global.css";
@import "./header.css";

/*utilidades*/
@import "./utilitários/utilidades.css";
@import "./utilitários/tipografia.css";
@import "./utilitários/cores.css";
@import "./utilitários/formulario.css";
@import "./utilitários/animacao.css";

/*home*/
@import "./main.css";
@import "./tecnologia.css";
@import "./parceiros.css";
@import "./depoimento.css";
@import "./seguros.css";
@import "./footer.css";

/*Bicicletas*/
@import "./bicicletas/bicicletaslista.css";
@import "./bicicletas/bicicletas.css";

/*Bicicleta*/
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/*termos*/
@import "./termos/termos.css";

/*contatos*/
@import "./contato/contato.css";
@import "./contato/lojas.css";

/*seguros*/
@import "./seguros/seguros.css";
@import "/css/seguros/perguntas.css";

/*orcamento*/
@import "/css/orcamento/orcamento.css";
