.bicicletas-lista {
  padding-top: 40px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#bicicleta .bicicletas-lista ul {
  padding: 0px 0px 20px 0px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  height: 12px;
  width: 12px;
  margin-right: 8px;
  border-radius: 12px;
  transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before {
  width: 18px;
  height: 18px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

.bicicletas-lista li {
  min-width: 280px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
    padding: 0px 12px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .bicicletas-lista {
    padding-bottom: 60px;
    padding: 0px 12px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }

  .bicicletas-lista h2 {
    margin-bottom: 20px;
    font-size: 2.125rem;
  }

  .bicicletas-lista h3 {
    font-size: 1.5rem;
  }
}
